body{
  background: rgb(255, 0, 0);
  margin: 0;
}

.pegarh1{
  width: 400px;
  height: 400px;
  background: linear-gradient(rgb(0, 0, 0), transparent);
  margin: 0;
  width: 100%;
}

h1{
  margin: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: sans-serif;
}
