body{
  background: rgb(255, 0, 0);
  margin: 0;
}

.pegarh1{
  height: 200px;
  background: linear-gradient(rgb(0, 0, 0), transparent);
  margin: 0;
  width: 100%;
}

h1, h2{
  margin: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: sans-serif;
}

.proyectos{
  background: rgb(209 0 0);
  margin: auto;
  width: 50%;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border: 10px;
}
